[Unit]
Description=Copenhagen Hnefatafl Server

[Service]
Type=simple
Restart=always
ExecStart=/usr/games/hnefatafl-server-full --systemd

[Install]
WantedBy=multi-user.target
