[Desktop Entry]
Name=Hnefatafl Copenhagen
Comment=Viking Game
Exec=hnefatafl-client
Icon=hnefatafl_client
Type=Application
StartupNotify=true
Categories=Game;BoardGame
